footer{
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  font-size: 0.5em;
  color: #6B7280;
  letter-spacing: 5px;
  font-weight: 100;

  @include flex-center;

  & a:hover{
    color: #C3DDFD;
    transition: 0.2s ease all;
  }
}