/* Flexbox*/
@mixin flex-center{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin flex-between{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column-evenly{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/*
***
*/

html{
  color-scheme: dark;
  background: #111827;
}

body{
  @include flex-center;
}

main{
  width: 70vw;
  height: 70vh;

  @include flex-column-evenly;

  .container{
    @include flex-center;
  }


  .stars{
    width: 95%;
    height: 50%;
    @include flex-between;


    .star-container{
      height: auto;
      width: calc(90% / 5);

      .star{
        cursor: pointer;

        &:hover{
          fill: white;
          
          path{
            stroke: white;
          }
        }
      }
    }
  }

  .comment-container{
    width: 90%;
    height: 20%;
    background: #1F2937;
  }
}
