/* Flexbox*/
@mixin flex-center{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin flex-between{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-column-start{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/*
***
*/

html{
  color-scheme: dark;
  background: #111827;
}

body{
  @include flex-center;
}

main{
  width: 80vw;
  height: 70vh;

  @include flex-column-center;

  .container{
    @include flex-center;
  }


  .stars{
    width: 90%;
    height: auto;
    margin: 2em 0;
    @include flex-between;


    .star-container{
      height: auto;
      width: calc(60% / 5);

      svg.star{
        cursor: pointer;

        &:hover{
          transform: scale(1.2);
          transition: all 0.2s ease;
        }
      }
    }
  }

  .comment-container{
    width: 90%;
    height: 10%;
    text-transform: uppercase;
    font-size: 2vw;
    letter-spacing: 5px;
    margin-top: 2em;
    text-align: center;
    font-weight: 400;

    @include flex-column-start;

    .comment-container_text{
      margin-top: 1.5em;
      color: #6B7280;
      height: 80%;
    }

    .comment-container_emoji{
      font-size: 4vw;
    }
  }
}


@media screen and (min-width: 1000px){
  main{
    .stars{
      width: 60%;
    }

    .comment-container{
      .comment-container_text{
        font-size: 1vw;
      }
  
      .comment-container_emoji{
        font-size: 3vw;
      }
    }
  }
}